body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #FFB3AB;
}

hr.light {
  border-color: #fff;
}

a {
  color: #FFB3AB;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #FFB3AB;
}

.bg-primary {
  background-color: #FFB3AB !important;
}

.bg-dark {
  background-color: #212529 !important;
}

.bg-white {
  background-color: white;
}

.bg-transparent {
  background-color: transparent;
}

.bg-fade {
  -webkit-transition: background-color 1s ease-in;
  -moz-transition: background-color 1s ease-in;
  transition: background-color 1s ease-in;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #FFB3AB;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  transition: opacity 1s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: uppercase;
  color: #6a6a6a;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.7);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #6a6a6a;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
  color: rgba(255, 255, 255, 0.7);
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover {
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }

  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #fff;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link {
    padding: 0.5rem 1rem;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #fff;
  }

  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: #FFB3AB;
  }

  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #FFB3AB;
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus {
    color: #212529;
  }

  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover {
    color: #FFB3AB;
  }
}

header.masthead {
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-color: #FFB3AB;
}

#header,
#header-block {
  z-index: 1;
  top: 0;
  width: 100%;
  height: auto;
  background-color: #FFB3AB;
  color: #6a6a6a;
  font-size: 0.8em;
  letter-spacing: .1em;
}

@media (min-width: 1200px) {
  #header {
    position: fixed;
    height: 6rem;
  }
}

#social {
  z-index: 999;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #FFB3AB;
  color: #6a6a6a;
  font-size: 0.8em;
  letter-spacing: .1em;
  padding-top: .25em;
  padding-bottom: .25em;
}

#social-container {
  opacity: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}

.social-icon {
  color: #6a6a6a !important;
}

.social-icon:hover {
  color: rgba(255, 255, 255, 0.7) !important;
}

.header-btn {
  color: #6a6a6a !important;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  opacity: 1;
}

#order hr,
header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

#order h1,
header.masthead h1 {
  font-size: 2rem;
}

#order p,
header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {

  #order p,
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {

  #order,
  header.masthead {
    padding-top: 0;
    padding-bottom: 0;
  }

  #order h1,
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {

  #order h1,
  header.masthead h1 {
    font-size: 4rem;
  }
}

.text-primary {
  color: #FFB3AB !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #FFB3AB !important;
  border-color: #FFB3AB;
}

.btn-primary:active {
  background-color: #fff !important;
  box-shadow: 0 0 0 #000 !important;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0s;
}

.logo {
  height: 25vh;
  background-image: url("../img/logo_400w.png");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

.webp .logo {
  background-image: url("../img/logo_400w.webp");
}

.logo.thumb {
  height: 5rem;
}

.menu-item-title {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  line-height: .9;
}

.menu-item-title .spacer {
  flex: 1;
  border-bottom: 2px dotted #FFB3AB;
}

.menu-item-title .name {
  padding-right: 5px;
}

.menu-item-title .price {
  padding-left: 5px;
}

.menu-item {
  display: flex;
}

.menu-thumb-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  margin-bottom: 20px;
  font-size: 33.5px;
}

.menu-item .menu-thumb-container .menu-thumb {
  border-radius: 50%;
  height: 67px;
  width: 67px;
  background-position: center center;
  background-repeat: no-repeat;
}

.menu-item .menu-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.menu-item .menu-item-content .description {
  text-align: left;
  color: #6a6a6a;
  font-style: italic;
  font-size: .8rem;
}

.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.article-text {
  line-height: 1.6;
  font-size: 1em;
  color: #6a6a6a;
}

.card .no-header {
  background-color: #FFB3AB;
  padding-top: .25em;
  padding-bottom: .25em;
}

.card .header {
  background-color: #FFB3AB;
  color: #6a6a6a;
  font-size: 0.8em;
  letter-spacing: .1em;
  padding-top: .25em;
  padding-bottom: .25em;
}

.row-height-30 {
  height: 12em;
}

.card {
  overflow: hidden;
}

#order .card,
#ordering .card {
  border-bottom: 5px inset #fff;
}

#order .card:hover,
#ordering .card:hover {
  border-bottom: 5px inset #FFB3AB;
  -webkit-transition: border-bottom 0.2s;
  -moz-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.card-body {
  padding: 20px;
}

.pink-border {
  width: 100%;
  border: 1px solid #FFB3AB;
  padding: 7px;
}

#scoop-bg {
  position: absolute;
  top: 0;
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s linear;
  margin: auto;
}

.scoop {
  position: absolute;
  left: 0;
  top: 0;
  position: absolute;
  opacity: 1;
  transition: opacity 0.3s linear;
  margin: auto;
}

.scoop-container {
  width: 300px;
}

.hidden {
  opacity: 0 !important;
}

.fg-1 {
  background-image: url("../img/scoop_1.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.webp .fg-1 {
  background-image: url("../img/scoop_1.webp");
}

.fg-2 {
  background-image: url("../img/scoop_2.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.webp .fg-2 {
  background-image: url("../img/scoop_2.webp");
}

.fg-3 {
  background-image: url("../img/scoop_3.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.webp .fg-3 {
  background-image: url("../img/scoop_3.webp");
}

.bg {
  background-image: url("../img/scoop_bg.png");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.webp .bg {
  background-image: url("../img/scoop_bg.webp");
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vr {
  padding-right: 1em;
  margin-right: .5em;
  border-right: .2em solid #FFB3AB;
}

.pointer-green {
  height: 70px;
  width: 200px;
  margin-left: -230px;
  margin-top: -70px;
  border-top: 2px dotted #FFB3AB;
  border-right: 2px dotted #FFB3AB;
}

.pointer-yellow {
  width: 150px;
  margin-left: -180px;
  border-bottom: 2px dotted #FFB3AB;
}

.pointer-red {
  width: 170px;
  margin-left: -200px;
  border-bottom: 2px dotted #FFB3AB;
}

.jarallax {
  position: relative;
  z-index: 0;
}

#hand-scene {
  bottom: 20%;
  right: 10%;
}

#scene-clamp {
  margin: 0 auto;
  overflow: hidden;
  height: 80%;
  width: 80%;
}

.overflow-img {
  width: 120%;
  height: auto;
}

.jarallax>.jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: 'object-fit: cover;';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-bg {
  height: 100vh;
  background-image: url("../img/hero.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.webp .hero-bg {
  background-image: url("../img/hero.webp");
}

.hero-bg-2 {
  min-height: 100vh;
  background-image: url("../img/hero2.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.webp .hero-bg-2 {
  background-image: url("../img/hero2.webp");
}

#order {
  min-height: 100vh;
}

.form-button>label {
  cursor: inherit;
}

.form-button>label.hint {
  font-style: italic;
  font-size: .8rem;
}

.form-button {
  padding: 20px;
  color: white;
  border-radius: 20px;
  background: #6a6a6a;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  cursor: pointer;
}

.form-button.selected {
  background: #FFB3AB;
}

.btn-form-control {
  background: #6a6a6a;
}

.btn-outline {
  border: 1px solid #6a6a6a;
  background: transparent;
  color: #6a6a6a;
}

.form-icon {
  font-size: 50px;
}

.text-dark-gray {
  color: #6a6a6a !important;
}

.text-spaced {
  letter-spacing: .1em !important;
}

.modal-header.title {
  border: 0;
}

.modal label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hint {
  font-style: italic;
  font-size: .8rem;
}

.modal-section {
  padding-bottom: 1rem;
}

body.modal-open {
  overflow: hidden;
}

.modal-dialog,
.modal-content {
  max-height: calc(100vh - 5rem);
}

.modal-body {
  max-height: calc(100vh - 5rem);
  overflow-y: auto;
}

.form-invalid {
  color: #dc3545 !important;
}

#ordering {
  padding-bottom: 5rem;
}

@media (min-width: 1200px) {
  #ordering {
    margin-right: 22rem;
    margin-top: 6rem;
    padding-bottom: 10rem;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cart {
  position: fixed;
  z-index: 1;
  top: 100vh;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  background: white;
}

#cart.open {
  -ms-transform: translateY(-100vh);
  -webkit-transform: translateY(-100vh);
  transform: translateY(-100vh);
}

.cart-body {
  overflow-y: auto;
  height: calc(100vh - 12rem);
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

@media (min-width: 1200px) {
  #cart {
    margin-top: 7rem;
    margin-right: 1rem;
    top: 0;
    width: 20rem;
    height: calc(100vh - 8rem);
    border-radius: 1rem;
    transition: none;
  }

  .cart-body {
    height: calc(100vh - 20rem);
  }
}

.cart-header {
  height: 6rem;
  letter-spacing: .1em;
  border-bottom: 1px solid #e3e3e3;
}

.cart-footer {
  height: 6rem;
  border-top: 1px solid #e3e3e3;
}

#ordering .container {}

.card .card-body .description ul {
  list-style-type: none;
  margin: 0;
}

.form-number {
  width: 3rem;
}

.center-icon {
  width: 2rem !important;
  text-align: center !important;
  padding-right: .5rem !important;
}

#reviewOrderSummary {
  font-size: .9em;
}

#reviewOrderSummary ul {
  list-style-type: none;
  margin: 0;
}

.order-summary-item,
.review-order-item {
  font-size: .8em;
}

.review-order-item:nth-child(odd) {
  background: #e3e3e3;
}

#mobileFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #FFB3AB;
  height: 5rem;
}

.alert-pokey {
  border: 1px dashed #FFB3AB;
  color: #6a6a6a;
}

body.cart-open {
  overflow: hidden;
  height: 0px !important;
}

#confirmation-tips p {
  line-height: 2;
}

#confirmation-tips a {
  color: #6a6a6a;
  padding-bottom: 3px;
  transition: none;
}

#confirmation-tips a:hover {
  border-bottom: 3px solid #FFB3AB;
}

.payment-icons {
  font-size: 1.75rem !important;
}

.section-icons {
  font-size: 3rem !important;
}

.order-selection {
  border: 1px solid #FFB3AB;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
}

.app-badge-icon {
  background-position: center center;
  background-repeat: no-repeat;
}

.app-badge-icon.ios {
  height: 80px;
  width: 270px;
}

.app-badge-icon.android {
  height: 80px;
  width: 206.72px;
}

input[readonly] {
  background-color: white !important;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(270deg);
  }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #FFB3AB;
  animation:
    dash 1.4s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }

  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

.modal-content.loading {
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: none;
}