<!DOCTYPE html>
<html lang="en">

<head>
  <!-- PWA -->
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('js/sw.js');
      });
    }
  </script>
  <link rel="manifest" href="js/manifest.json">
  <link rel="icon" sizes="192x192" href="img/favicon_192x192.png">
  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#FFB3AB">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#FFB3AB">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#FFB3AB">

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <meta name="description" content="Landing page for Pokey Okey restaurant located in Richmond, British Columbia, Canada.">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="Pokey Okey | a fresh take">
  <meta itemprop="description" content="Pokey Okey, central Richmond's first poke shop to offer a fresh take on poke">
  <meta itemprop="image" content="http://s3.amazonaws.com/pokey-okey/img/hero.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="restaurant">
  <meta name="twitter:title" content="Pokey Okey | a fresh take">
  <meta name="twitter:description" content="Pokey Okey, central Richmond's first poke shop to offer a fresh take on poke">
  <!-- Twitter Summary card images must be at least 120x120px -->
  <meta name="twitter:image" content="http://s3.amazonaws.com/pokey-okey/img/hero.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="Pokey Okey | a fresh take">
  <meta property="og:site_name" content="Pokey Okey | a fresh take">
  <meta property="og:url" content="http://s3.amazonaws.com/pokey-okey/index.html">
  <meta property="og:type" content="restaurant">
  <meta property="og:image" content="http://s3.amazonaws.com/pokey-okey/img/hero.jpg">
  <meta property="og:description" content="Pokey Okey, central Richmond's first poke shop to offer a fresh take on poke" />

  <title>Pokey Okey | a fresh take</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Material Design Bootstrap -->
  <link href="vendor/mdb/mdb.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/creative.css" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700" rel="stylesheet">
</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#order">Order Now</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item lang-en d-none">
            <a class="nav-link lang-link" href="#lang-en"><i class="fas fa-globe-americas"></i> EN</a>
          </li>
          <li class="nav-item lang-zh">
            <a class="nav-link lang-link" href="#lang-zh"><i class="fas fa-globe-asia"></i> 中文</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#order">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div data-jarallax data-speed="0.6" class="jarallax hero-bg">
    <div class="header-mask mask rgba-stylish-strong">
      <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <div class="logo" />
            </div>
            <div class="col-lg-8 mx-auto">
              <p class="text-faded my-5">#a fresh take</p>
              <a class="btn btn-primary header-btn btn-xl js-scroll-trigger translatable" data-i18n="landing page order button">Order Now</a>
            </div>
          </div>
        </div>
      </header>
    </div>
  </div>
  <div id="social" class="text-center center-vertical py-2">
    <div id="social-container" class="d-lg-flex">
      <div class="w-100 align-self-center text-uppercase translatable" data-i18n="footer address">
        8060 Anderson Road Richmond BC
      </div>
      <div class="w-100 align-self-center text-uppercase">
        <span class="hours-today d-none translatable" data-i18n="footer hours open">Open today at 11 AM to 8 PM</span>
        <span class="hours-now d-none translatable" data-i18n="footer hours open">Open now from 11 AM to 8 PM</span>
        <span class="hours-tomorrow d-none translatable" data-i18n="footer hours closed">Open tomorrow at 11 AM to 8 PM</span>
      </div>
      <div class="w-100 align-self-center mt-1 d-none d-lg-block">
        <a class="social-icon">
          <span class="fa-stack">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook-f fa-stack-1x text-primary"></i>
          </span>
        </a>
        <a class="social-icon">
          <span class="fa-stack social-icon">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-instagram fa-stack-1x text-primary"></i>
          </span>
        </a>
        <a class="social-icon">
          <span class="fa-stack social-icon">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-weixin fa-stack-1x text-primary"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto text-center text-lg-right center-vertical">
          <h5 class="section-heading text-uppercase translatable" data-i18n="welcome article title">Welcome to</h5>
          <h2 class="section-heading mb-3 text-uppercase translatable" data-i18n="brand name">Pokey Okey</h2>
          <p class="article-text translatable" data-i18n="welcome article text"> Central Richmond’s first poke shop offers “a fresh take” on poke, with three original poke bowls influenced by different cuisine types that local residents already
            love. Serving high quality food in the take-out format, Pokey Okey aims to provide customers with the ability to eat clean, even when time is limited. </p>
        </div>
        <div class="col-lg-6 mx-auto center-vertical">
          <div id="scene-clamp" class="hidden">
            <div id="hand-scene">
              <div data-depth="0.1" data-limit-x="0">
                <picture>
                  <source srcset="img/hand_bg.webp" type="image/webp">
                  <source srcset="img/hand_bg.png" type="image/jpg">
                  <img class="overflow-img" src="img/hand_bg.png" />
                </picture>
              </div>
              <div data-depth="0.2">
                <picture>
                  <source srcset="img/hand_fg.webp" type="image/webp">
                  <source srcset="img/hand_fg.png" type="image/jpg">
                  <img class="overflow-img" src="img/hand_fg.png" />
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto text-center mb-5">
          <h3 class="translatable" data-i18n="article title">Who says convenient can't be healthy?</h3>
          <p class="article-text translatable" data-i18n="article text">We at Pokey Okey believe that take-out can be both delicious and nutritious, so here’s “a fresh take” on poke!</p>
        </div>
      </div>
      <div class="row justify-content-center mb-5 mb-lg-0">
        <div class="col-lg-6 text-center d-none d-lg-block">
          <picture>
            <source srcset="img/bowls_v.webp" type="image/webp">
            <source srcset="img/bowls_v.jpg" type="image/jpg">
            <img class="img-fluid shadow-lg mb-5" src="img/bowls_v.jpg" width="300px">
          </picture>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100">
            <div class="d-flex h-100">
              <div class="pt-5 w-100 text-center text-lg-left mb-5 ">
                <h3 class="translatable" data-i18n="signature bowl article title">Our Pokey Bowls</h3>
                <p class="article-text mb-lg-0 mb-5 ml-0 translatable" data-i18n="signature bowl article text">Using high quality ingredients, our three signature Pokey Bowls are inspired by cuisine types that Greater Vancouver residents already
                  love. The creativity and experimentation doesn’t stop there either, as more original bowls are being released all the time!</p>
                <hr class="d-none d-lg-block mb-5 ml-0">
                <picture>
                  <source srcset="img/green_bowl.webp" type="image/webp">
                  <source srcset="img/green_bowl.jpg" type="image/jpg">
                  <img class="img-fluid shadow-lg mb-5 d-lg-none" src="img/green_bowl.jpg">
                </picture>
                <h4 class="translatable" data-i18n="menu item">The Green Bowl</h4>
                <p class="article-text mb-5 ml-0 translatable" data-i18n="green bowl article text">Japanese influenced, featuring ingredients such as Wasabi Peas and “Beni Shoga”, or pickled ginger. This blend of ingredients appeals to more
                  conservative pallets, creating a distinctly Japanese flavour profile. </p>
                <picture>
                  <source srcset="img/yellow_bowl.webp" type="image/webp">
                  <source srcset="img/yellow_bowl.jpg" type="image/jpg">
                  <img class="img-fluid shadow-lg mb-5 d-lg-none" src="img/yellow_bowl.jpg">
                </picture>
                <h4 class="translatable" data-i18n="menu item">The Yellow Bowl</h4>
                <p class="article-text mb-5 ml-0 translatable" data-i18n="yellow bowl article text">A nod to poke’s Hawaiian roots. There are various sweet and tangy ingredients in this dish, with the highlight being the Pineapple Salsa. Though raw
                  fruit is fairly common in poke bowls, creating a salsa allows the flavours to blend seamlessly with the rest of the bowl.</p>
                <picture>
                  <source srcset="img/red_bowl.webp" type="image/webp">
                  <source srcset="img/red_bowl.jpg" type="image/jpg">
                  <img class="img-fluid shadow-lg mb-5 d-lg-none" src="img/red_bowl.jpg">
                </picture>
                <h4 class="translatable" data-i18n="menu item">The Red Bowl</h4>
                <p class="article-text translatable" data-i18n="red bowl article text">Designed for customers who love heat. The marinades for the seafood ingredients are spicy and Kimchi is a defining element in the bowl. It is topped off with
                  special Spicy Sesame sauce which adds an element of sweetness to balance out the spice.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <picture>
            <source srcset="img/scoop_static.webp" type="image/webp">
            <source srcset="img/scoop_static.jpg" type="image/jpg">
            <img class="d-lg-none d-xl-none img-fluid shadow-lg" src="img/scoop_static.jpg" width="300px">
          </picture>
          <div class="d-none mx-auto d-lg-block scoop-container shadow-lg">
            <picture>
              <source srcset="img/scoop_bg.webp" type="image/webp">
              <source srcset="img/scoop_bg.png" type="image/jpg">
              <img id="scoop-bg" class="d-block mx-auto img-fluid" src="img/scoop_bg.png" width="300px">
            </picture>
            <div data-jarallax-element="150" data-threshold="0">
              <picture>
                <source srcset="img/scoop_1.webp" type="image/webp">
                <source srcset="img/scoop_1.png" type="image/jpg">
                <img id="scoop-fg-1" class="d-block mx-auto scoop img-fluid" src="img/scoop_1.png" width="300px">
              </picture>
              <picture>
                <source srcset="img/scoop_2.webp" type="image/webp">
                <source srcset="img/scoop_2.png" type="image/jpg">
                <img id="scoop-fg-2" class="d-block mx-auto scoop img-fluid" src="img/scoop_2.png" width="300px">
              </picture>
              <picture>
                <source srcset="img/scoop_3.webp" type="image/webp">
                <source srcset="img/scoop_3.png" type="image/jpg">
                <img id="scoop-fg-3" class="d-block mx-auto scoop img-fluid" src="img/scoop_3.png" width="300px">
              </picture>
            </div>
          </div>
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="text-center h-100">
            <div class="d-flex h-100">
              <div class="w-100 my-auto text-center text-lg-right mr-lg-5">
                <h2 class="mt-5 mb-5 text-uppercase translatable" data-i18n="build a bowl article title">Build A Bowl</h2>
                <p class="article-text translatable" data-i18n="build a bowl article text">For those who are up for it, there are over a hundred thousand possible combinations of poke to cater to your unique tastes, with our Build-A-Bowl option.</p>
                <p class="article-text translatable" data-i18n="build a bowl article ending line">Get creative yourself and design your own special Pokey Bowl!</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mb-5 mb-lg-0 pt-5">
        <div class="col-lg-6 center-vertical">
          <picture>
            <source srcset="img/jonvic.webp" type="image/webp">
            <source srcset="img/jonvic.jpg" type="image/jpg">
            <img class="d-block img-fluid mx-auto shadow-lg mb-5" src="img/jonvic.jpg" width="300px">
          </picture>
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100">
            <div class="d-flex h-100">
              <div class="pt-5 w-100 my-auto text-center text-lg-left">
                <h2 class="text-uppercase mb-5 translatable" data-i18n="about founders article title">About the founders</h2>
                <p class="article-text translatable" data-i18n="about founders article text">Pokey Okey is a partnership between two middle school friends, Victor He and Jonathan Watanabe. Despite both having moved away for almost ten years, they
                  have come back and re-united in Greater Vancouver to start this new venture.</p>

                <p class="article-text translatable" data-i18n="about jonathan article text">Jonathan (left) is a graduate of the International Business and Economics program at Tokyo’s Sophia University. Following graduation, he returned to
                  Vancouver to work with a Japanese food supplier where he learned about the inner workings of the local seafood market.</p>
                <p class="article-text translatable" data-i18n="about victor article text">Victor (right) is an alumnus of Northwest Culinary Academy of Vancouver, where he discovered his passion for cooking. He worked in various restaurants locally
                  before migrating to Asia to explore different culinary styles. He spent two years in Seoul’s fast-paced restaurant environment before moving on to Shanghai, where he was able to work under “The Demon Chef” Alvin Leung at a Michelin
                  Star establishment.</p>

                <hr class="d-none d-lg-block mb-5 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div data-jarallax data-speed="0.6" class="jarallax hero-bg-2">
    <div id="order-mask" class="header-mask mask rgba-white-strong">
      <section id="order" class="text-center d-flex">
        <div class="container my-auto">
          <div class="row">
            <div class="col-lg-12">
              <fieldset>
                <div class="order-form">
                  <h2 class="my-5">What type of order?</h2>
                  <div class="row">

                    <div class="form-button col-lg-4 mx-auto center-vertical">
                      <label class="form-check-label translatable" for="pickupRadioBtn" data-i18n="order for pick up button"><i class="fas fa-5x fa-walking"></i><br>Order for Pickup</label>
                      <br>
                      <label class="hint translatable" data-i18n="collect stamps hint for order pick up">Pickup in store to collect stamps!</label>
                    </div>


                    <div class="form-button col-lg-4 mx-auto center-vertical">
                      <label class="form-check-label translatable" for="pickupRadioBtn" data-i18n="order for pick up button"><i class="fas fa-5x fa-car"></i><br>Order for Delivery</label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <h2 class="fs-title">Delivery Options</h2>
                <div class="row col-lg-12">
                  <div class="form-button col-lg-3 mx-auto center-vertical">
                    <i class="fas fa-5x fa-walking"></i>
                  </div>
                  <div class="form-button col-lg-3 mx-auto center-vertical">
                    <i class="fas fa-5x fa-walking"></i>
                  </div>
                  <div class="form-button col-lg-3 mx-auto center-vertical">
                    <i class="fas fa-5x fa-walking"></i>
                  </div>
                </div>
              </fieldset>

            </div>
          </div>
        </div>
    </div>
    </section>
  </div>
  </div>

  <section id="menu">
    <div class="container">
      <!-- Menu Header -->
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h1 class="section-heading translatable" data-i18n="menu header">Menu</h1>
          <hr class="my-4">
        </div>
      </div>
      <menu-section v-for="section in sections" v-bind:header="section.header">
        <menu-item v-for="item in section.items" v-bind:image="item.image" v-bind:name="item.name" v-bind:price="item.price" v-bind:description="item.description">
        </menu-item>
      </menu-section>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mx-auto mb-3 mb-md-0 row-height-30">
          <div class="card h-100 map text-center">
            <div class="header text-uppercase translatable" data-i18n="location card header">
              Location
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2608.9637032732303!2d-123.1382459835738!3d49.16329717931857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54860ab5eacc8a77%3A0x9564d366da3a5352!2s8060+Anderson+Rd%2C+Richmond%2C+BC+V6Y+2C5%2C+Canada!5e0!3m2!1sen!2sus!4v1536564631927"
              width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-lg-4 mx-auto mb-3 mb-md-0 row-height-30">
          <a class="h-100" href="mailto:pokeyokeyyvr@gmail.com">
            <div class="card h-100 waves-light text-center">
              <div class="header text-uppercase translatable" data-i18n="email card header">
                Email
              </div>
              <div class="card-body center-vertical">
                <i class="fa fa-envelope fa-4x text-primary mb-3"></i>
                <div class="small text-black-50">
                  pokeyokeyyvr@gmail.com
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 mx-auto mb-3 mb-md-0 row-height-30">
          <a class="h-100" href="tel:+1 604 370 0229">
            <div class="card h-100 waves-light text-center">
              <div class="header text-uppercase translatable" data-i18n="phone card header">
                Phone
              </div>
              <div class="card-body center-vertical">
                <i class="fa fa-mobile-alt fa-4x text-primary mb-3"></i>
                <div class="small text-black-50">(604) 370 0229</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  </div>

  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-meta@1.5.8/lib/vue-meta.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>

  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.9/js/mdb.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha256-H3cjtrm/ztDeuhCN9I4yh4iN2Ybx/y1RM7rMmAesA0k=" crossorigin="anonymous"></script>
  <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

  <!-- Jarallax -->
  <script src="https://unpkg.com/jarallax@1.10/dist/jarallax.min.js"></script>
  <script src="https://unpkg.com/jarallax@1.10/dist/jarallax-element.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/menu.json"></script>
  <script src="js/creative.js"></script>
  <script src="js/webp-detect.js"></script>

</body>

</html>